@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .button-outline {
    @apply rounded-md border-primary border-2 hover:bg-primary/80 hover:text-black duration-700 py-2 px-6 text-primary;
  }
}

.example {
  overflow-y: scroll; /* Allows vertical scrolling */
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

.example::-webkit-scrollbar {
  display: none; /* Chrome, Safari, Opera */
}
